<p>
  La cantidad {{myShoppingCart.length}}
</p>
<p>
  El total es ${{total}}
</p>
<p>
  Today: {{today | date:'medium'}}
</p>
<p>
  Last active: {{date | timeAgo }}
</p>
<p>
  {{'hOlA kjKHJkkkkk' | uppercase}}
</p>
<button (click)="createNewProduct()">
  Crear
</button>
<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products" 
  (addedProduct)="onAddToShoppingCart($event)"
  (showProduct)="onShowDetail($event)">  </app-product>
  <button (click)="loadMore()" > load More </button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChoosen">
    <button (click)="toogleProductDetail()"> Close </button>
    <h1> {{productChoosen.title}} </h1>
    <p> {{ productChoosen.description }} </p>
    <button (click)="updateProduct()" > Editar Producto </button>
    Contenido
    <button (click)="deleteProduct()">
      Eliminar Producto
    </button>
  </div>
</div>