<app-nav ></app-nav>

<button (click)="createUser()">
  Create user
</button>
<button (click)="login()">
 Login
</button>
<p>
  <a href="./../assets/files/texto.txt" download> Descargar</a>
</p>
<p>
  <button (click)="downloadPdf()" > Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
</p>

<p>
  <img *ngIf="imgRta" [src]="imgRta" alt="description of image">
</p>

<button (click)="getProfile()">
  Get Profile
 </button>

<app-products></app-products>


<!-- <p> <input type="text" [(ngModel)]="imgParent"> </p>
<button (click)="toogleImg()">Toogle Img</button>
<p>{{showImg}}</p>
<app-image *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"> </app-image> -->
